@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* NAVBAR_QISMI */

header {
    background: #f2ceda;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav_list {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
}
.nav_link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #150101;
    transition: 0.5s;
    opacity: 0.5;
}

.nav_link:hover {
    color: #d23166;
    opacity: 1;
}

.nav_btn {
    background: #d23166;
    border: none;
    font-family: Hind Madurai;
    font-weight: 700;
    font-size: 16px;
    color: #fafafa;
    padding: 14px 50px;
    border-radius: 5px;
}

/* INTRO_QISMI */

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
}
.intro_text_second {
    font-family: Hind Madurai;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0f0101;
    margin-bottom: 50px;
}
.intro_right {
    display: flex;
    flex-direction: column;
}
.text_intro {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #0f0101;
}

.title_intro {
    font-weight: 400;
    font-size: 57.33px;
    color: #000000;
    margin-bottom: 35px;
}

.title_intro_span {
    font-weight: 400;
    font-size: 57.33px;
    line-height: 121%;
    letter-spacing: 0%;
    color: #d23166;
}
.nav_btn_intro {
    background: #d23166;
    border: none;
    font-family: Hind Madurai;
    font-weight: 700;
    font-size: 16px;
    color: #fafafa;
    padding: 14px 50px;
    border-radius: 5px;
    width: 200px;
}

.intro_img {
    width: 650px;
}
